@inject NavigationManager NavigationManager
<div class="market-list-container">
    <div class="market-list">
        @foreach (var market in Data)
        {
            <div class="market-list-item" @onclick="() => GoTo(market.Code)">
                <div class="market-icon @market.IconContainerClass"><i class="bi @market.IconClass"></i></div>
                <div class="market-info">
                    <div class="title">@market.Title</div>
                    <div class="subtitle">@market.Subtitle</div>
                </div>
                <div class="market-heat-indicator">
                    <div class="heat-bar @market.HeatLevel"></div>
                    <div class="heat-label">@market.HeatLabel</div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public List<MarketInfo> Data { get; set; }

    private void GoTo(int id)
    {
        NavigationManager.NavigateTo($"/markets/{id}");
    }
    private List<MarketInfo> MarketItems { get; set; } = new();

    protected override void OnInitialized()
    {

    }

}