<div class="offers-container-widget">
    <div class="segment-control">
        <button class="@GetSegmentClass("traded")" @onclick='() => SetActiveSegment("traded")'>
            <span>معامله شده</span>
        </button>
        <button class="@GetSegmentClass("untraded")" @onclick='() => SetActiveSegment("untraded")'>
            <span>در انتظار عرضه</span>
        </button>
        <button class="@GetSegmentClass("failed")" @onclick='() => SetActiveSegment("failed")'>
            <span>معامله نشد</span>
        </button>
    </div>

    <div class="search-container">
        <i class="bi bi-search"></i>
        <input type="text"
        placeholder="جستجو در نام کالا یا عرضه‌کننده..."
        @bind="_searchTerm"
        @bind:event="oninput" />
        @if (!string.IsNullOrEmpty(_searchTerm))
        {
            <i class="bi bi-x-circle-fill clear-button" @onclick="() => _searchTerm = string.Empty"></i>
        }
    </div>
        <div class="offers-content">
            @switch (_activeSegment)
            {
                case "traded":
                    <TradingHallTradedOffersList MarketId="MarketId" SearchTerm="@_searchTerm" />
                    break;
                case "untraded":
                    <TradingHallUntradedOffersList MarketId="MarketId" SearchTerm="@_searchTerm" />
                    break;
                case "failed":
                    <TradingHallFailedOffersList MarketId="MarketId" SearchTerm="@_searchTerm" />
                    break;
            }
        </div>
</div>

@code {
    [Parameter]
    public int MarketId { get; set; }

    private string _activeSegment = "traded";
    private string _searchTerm = string.Empty;

    private void SetActiveSegment(string segment)
    {
        _activeSegment = segment;
    }

    private string GetSegmentClass(string segment) => _activeSegment == segment ? "segment-button active" : "segment-button";
}
