@inject IMarketsService MarketService
@inject NavigationManager NavigationManager

<div class="contacts-widget">
    <div class="widget-header">
        <h3 class="widget-title">@Title</h3>
        <h4 class="widget-subtitle">@Subtitle</h4>
    </div>
    @if (data != null && data.Items.Any())
    {
        <div class="contacts-grid" style="grid-template-columns: repeat(@data.Items.Count, 1fr);">
            @foreach (var item in data.Items)
            {
                <div class="contact-card" @onclick="() => GoTo(item.UrlName)">
                    <div class="contact-avatar @item.AvatarCssClass">
                        <i class="@item.IconCssClass"></i>
                    </div>
                    <span class="title">@item.Subtitle</span>
                    <span class="subtitle">@item.Title</span>
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter] public string Title { get; set; } = "بازارهای منتخب";
    [Parameter] public string Subtitle { get; set; } = "بر اساس ارزش کل عرضه‌ها";
    private MarketContactsData? data;
    protected override async Task OnInitializedAsync()
    {
        data = await MarketService.GetMarketContacts();
    }
    private void GoTo(string id)
    {
        NavigationManager.NavigateTo($"/markets/{id}");
    }
}
