@inject IMarketsService MarketService
@inject NavigationManager NavigationManager
<div class="market-list-container">
    <div class="market-list">
        @if(true)
        {
            <div class="market-list-item data-placeholder">
                <div class="market-icon secondary"><i class="bi bi-shop"></i></div>
                <div class="market-info">
                    <OctopusLoader/>
                </div>
            </div>
            <div class="market-list-item data-placeholder">
                <div class="market-icon secondary"><i class="bi bi-shop"></i></div>
                <div class="market-info">
                    <OctopusLoader/>
                </div>
            </div>
            <div class="market-list-item data-placeholder">
                <div class="market-icon secondary"><i class="bi bi-shop"></i></div>
                <div class="market-info">
                    <OctopusLoader/>
                </div>
            </div>

        } else 
        {
            @foreach (var market in data)
            {
                <div class="market-list-item" @onclick="() => GoTo(market.Code)">
                    <div class="market-icon @market.IconContainerClass"><i class="bi @market.IconClass"></i></div>
                    <div class="market-info">
                        <div class="title">@market.Title</div>
                        <div class="subtitle">@market.Subtitle</div>
                    </div>
                    <div class="market-heat-indicator">
                        <div class="heat-bar @market.HeatLevel"></div>
                        <div class="heat-label">@market.HeatLabel</div>
                    </div>
                </div>
            }

        }
    </div>
</div>

@code {
    private List<MarketInfo>? data;
    protected override async Task OnInitializedAsync()
    {
        data = await MarketService.GetMainGroupsData();
    }
    private void GoTo(int id)
    {
        NavigationManager.NavigateTo($"/markets/{id}");
    }
    private List<MarketInfo> MarketItems { get; set; } = new();

}