@inject IDashboardService DashboardService
@if (data != null && data.Items.Any())
{
    <div class="widget-container">
        <div class="section-header">
            <h2 class="section-title">@Title</h2>
        </div>
        <div class="market-pulse-grid">
            @foreach (var item in data.Items)
            {
                <div class="pulse-card">
                    <div class="pulse-title">@item.Title</div>
                    <div class="pulse-value">@item.Value</div>

                    <div class="pulse-stat">
                        <div class="pulse-change @GetChangeCssClass(item.ChangeState)">@item.Change</div>
                        <div class="pulse-label">@item.ChangeLabel</div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public string Title { get; set; } = "نبض بازار";

    private MarketPulseData? data;
    protected override async Task OnInitializedAsync()
    {
        data = await DashboardService.GetMarketPulse();
    }

    private string GetChangeCssClass(ValueState state)
    {
        return state switch
        {
            ValueState.Positive => "",
            ValueState.Negative => "negative",
            _ => "neutral"
        };
    }
}
